ButtonPrompt {
    align-items: center;
    color: white;
    flex-direction: row;
    margin-right: 10px;
}

ButtonPrompt #image {
    min-height: 32px;
    min-width: 32px;
    height: 32px;
    width: 32px;
}

ButtonPrompt #text {
    font-size: 24px;
    margin-left: 4px;
    -unity-text-align: middle-left;
}
