#pause-view {
    background-color: rgba(0, 0, 0, 0.8);
    flex-grow: 1;
}

#pause-view-title {
    color: white;
    font-size: 72px;
    text-shadow: 0 0 24px black;
    top: 25%;
    -unity-font-style: bold;
    -unity-text-align: upper-center;
}

#pause-view-menu {
    bottom: 15%;
    position: absolute;
    width: 100%;
}

.menu-item {
    color: white;
    font-size: 24px;
    margin: 0 auto;
    text-shadow: 0 0 4px rgb(0, 0, 0);
    -unity-text-align: middle-center;
}

.menu-item.selected {
    color: rgb(0, 99, 255);
}
